*{
  padding: 0;
  margin: 0;
}
.proportion{
  display: inline-block;
  width: 100px;
}
.singlePrice{
  display: inline-block;
  width: 150px;
  text-align: center;
}
p{
  text-align: left;
}
.plan{
  border: 2px solid #555;
  user-select: none;
}
.summaryTitle{
  float: left;
}
.priceWrap{
  display: inline-block;
  float: right;
}
.summaryWrap{
  text-align: right;
  height: 30px;
  line-height: 30px;
}
.plan li{
  width: 100%;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #aaa;
  list-style-type: none;
  text-align: left;
}
.checkBox{
  position: relative;
  top: 2px;
}
.inputType{
  margin: 0 5px;
  border: 1px solid #555;
  height: 30px;
  text-indent: 0.5em;
}
.todoWrap{
  width: 600px;
  margin: 0 auto;
}
.taskInput{
  width: 35%;
  margin: 0 5px;
  border: 1px solid #555;
  height: 30px;
  text-indent: 0.5em;
}
.priceInput{
  width: 16%;
  margin: 0 5px;
  border: 1px solid #555;
  height: 30px;
  text-indent: 0.5em;
}
.moneyTypeInput{
  width: 25%;
  margin: 0 5px;
  border: 1px solid #555;
  height: 30px;
  text-indent: 0.5em;
}
.addBtn{
  width: 16%;
  margin: 0 0 0 5px;
  height: 30px;
}
.rateList{
  text-align: right;
  margin: 10px 0;
}
